<!DOCTYPE html>
<html>
<head>
  <title>PhotoBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var MTIProjectId='bdd48d4a-3d78-485b-84d1-2387ee220231';
    (function() {
          var mtiTracking = document.createElement('script');
          mtiTracking.type='text/javascript';
          mtiTracking.async='true';
          mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
          (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
     })();
  </script>
</head>
<body>
  <header id="application">
    <div class='container'>
      <div class='row'>
        <div class='col-lg-12'>
          <%= link_to root_path, :id => "header-logo-link" do %>
            <%= image_tag('logomark.png') %>
            <h1>No Fixed Address</h1>
            <p>A photoblog of European proportions by Dave Cruikshank</p>
          <% end %>
        </div>
      </div>
    </div>
  </header>
  
  <%= yield %>

</body>
<%= yield :javascripts %>
</html>
